(
  selected_tab: Rgb(181,182,227), // magenta #b5b6e3
  command_fg: Rgb(119,119,119), // comment #777777
  selection_bg: Rgb(41,46,66), // bg_highlight #292e42
  selection_fg: Rgb(0,240,255), // cyan #00f0ff
  cmdbar_bg: Rgb(36,40,59), // bg #24283b
  cmdbar_extra_lines_bg: Rgb(36,40,59), // bg #24283b
  disabled_fg: Rgb(119,119,119), // comment #777777
  diff_line_add: Rgb(81,246,111), // green #51f66f
  diff_line_delete: Rgb(243,80,92), // red #f3505c
  diff_file_added: Rgb(115,218,202), // green1 #73daca
  diff_file_removed: Rgb(219,75,75), // red1 #db4b4b
  diff_file_moved: Rgb(255,0,124), // magenta2 #ff007c
  diff_file_modified: Rgb(238,219,133), // yellow #eedb85
  commit_hash: Rgb(181,182,227), // magenta #b5b6e3
  commit_time: Rgb(26,188,156), // teal #1abc9c
  commit_author: Rgb(81,246,111), // green #51f66f
  danger_fg: Rgb(243,80,92), // red #f3505c
  push_gauge_bg: Rgb(36,40,59), // bg #24283b
  push_gauge_fg: Rgb(202,202,202), // fg #cacaca
  tag_fg: Rgb(255,0,124), // magenta2 #ff007c
  branch_fg: Rgb(238,219,133), // yellow #eedb85
)
